/* GLOBAL STYLING */
.container_width{
    max-width: 1200px;
    padding: 10px;
  }
.shadow_class{
    box-shadow: 0px 6px 40px rgba(60, 63, 63, 0.1);
}
.pill_btn{
    border-radius: 3rem;
    border: none;
    background-color: #01FF0B;
}